body {
  color: white;
  background: black;
  margin: 0px;
  font-family: "Oswald", sans-serif;
}

header {
  border-bottom: solid 2px rgb(237, 237, 237);
  padding: 20px;
  font-size: 32px;
  color: rgb(255, 255, 255);
}

section {
  background: rgb(166, 20, 7);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}
/* código omitido */

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}
img {
  height: 200px;
}
/* código omitido */
